

.layer{
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: .6;
  bottom: 100vh
}

.nav-text{
  color: white;
  font-weight: 300;
  text-shadow: .8px 2px 2px black;
}

.navbar a {
  padding-right: 10px;
}

.material-icons{
  color: white;
  position: fixed;
  top :20px;
}
