@import '~antd/dist/antd.css';

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative}



.navbar{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("https://hdqwalls.com/download/smoking-beard-man-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .nav{
  color: white;
  font-weight: 300;
  text-shadow: .8px 2px 2px black; 
}

.nav{
  background-color: black;
}


.material-icons{
  position: fixed;
  color: white;
  top: 19px;
}

.nav .nav-text{
  font-size: 18px;
  text-decoration: none;
  color: white
}

.nav .nav-brand{
  font-size: 22px;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.nav .nav-text:hover{
  color: rgba(191, 207, 218, 0.52);
}

input.error {
  border-color: red;
  outline-color: red;
}

.input-feedback {
  color: red;
  margin-top: -21px;
  text-align: left;
  width: 75%;
  margin-bottom: 20px;
}

.container {
  width: 300px;
  height: 400px;
  
  position: relative;
  top:0; right: 0; left: 0; bottom: 0;
  margin: auto;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  
  -webkit-box-shadow: 0 0 5px #FFF;
        box-shadow: 0 0 5px #000;
}

.overlay {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  
  background: rgba(77, 77, 77, .9);
  color: #FFF;
  opacity: 0;
  transition: all 0.5s;
  
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  
  transform: translateY(40px);
  transition: all 0.7s;
}

.head hr {
  display: block;
  width: 0;
  
  border: none;
  border-bottom: solid 2px #FFF;
  
  position: absolute;
  bottom: 0; left:20px;
  
  transition: all .5s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;  
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  transform: translateY(40px);
  transition: all 0.7s;
}

.cart i {
  font-size: 16px;
}

.cart span {
  margin-left: 10px;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .overlay .head {
  color: white;
  transform: translateY(0px);
}

.container:hover .overlay  hr {
  width: 75px;
  transition-delay: 0.2s;
}

.container:hover .overlay .price {
  transform: translateY(0px);
  color: white ;
  transition-delay: 0.1s;
  opacity: 1;
}

.container:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.3s;
  color: white;
  opacity: 1;
}




a{
  text-decoration: none;
}

.banner{
  display: flex;
  align-items: center;
  
  margin: 2% 0.8% 4%;  
  padding: 1.25em 2em;
  border-radius: 5px;
 
  color: #fff;
}
.banner--gradient-bg {
  background: linear-gradient(-30deg, #000, #000 45%, #000 45%);
}
.banner__logo-wrapper{
  padding: 0 0.5em;
  margin-right: 20px;
}
.banner__title{
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 1em;
  margin-top: 0.4em;
}
.banner__text{
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 2em;
}
.banner__cta{
  display: inline;
  padding: 10px 14px;
  margin-left: 28%;
  border-radius: 2px;
  
  font-size: 1rem; 
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
  
  background: #fff;
  box-shadow: 0 6px 13px 0 rgba(0,0,0,.15);
}

.fi-codepen{
  font-size: 2rem;
}

.sweet-loading{
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px
}
.mdl-textfield--expandable .mdl-button--icon{
  top: 22px !important;
}

.small-img:hover{
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75); 
}
